.notFoundPage {
  min-height: calc(100vh - 80px);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 80px 20px;
  /*background: #0b1120;*/
  background:
    radial-gradient(
      circle at top right,
      rgba(0, 255, 170, 0.12),
      transparent 30%
    ),
    #050b1a;
}

.notFoundPage::before{
    content:"";
    position:fixed;
    width:700px;
    height:700px;
    left:50%;
    top:-120px;
    transform:translateX(-50%);
    background:radial-gradient(
        circle,
        rgba(0,208,132,.18),
        transparent 70%
    );
    pointer-events:none;
}

.content {
  max-width: 700px;
  text-align: center;
}

.errorCode {
  display: inline-block;
  font-size: clamp(5rem, 10vw, 8rem);
  font-weight: 800;
  line-height: 1;
  color: #00d084;
  margin-bottom: 20px;
}

.content h1 {
  font-size: clamp(2rem, 5vw, 3rem);
  color: #ffffff;
  margin-bottom: 20px;
}

.content p {
  font-size: 1.1rem;
  line-height: 1.8;
  color: #cbd5e1;
  margin-bottom: 40px;
}

.buttonGroup {
  display: flex;
  justify-content: center;
  gap: 18px;
  flex-wrap: wrap;
}

.primaryButton,
.secondaryButton {
  text-decoration: none;
  padding: 14px 28px;
  border-radius: 10px;
  font-weight: 600;
  transition: 0.25s ease;
}

.primaryButton {
  background: linear-gradient(135deg, #00d084, #005939);
  color: #ffffff;
}

.primaryButton:hover {
  background: linear-gradient(135deg, #00d084, #005939);
  /*transform: translateY(-2px);*/
  transform: translateY(-4px);
  box-shadow: 0 0 25px
    rgba(
      0,
      255,
      136,
      0.35
    );
}

.secondaryButton {
  border: 2px solid #00d084;
  color: #00d084;
}

.secondaryButton:hover {
  background: linear-gradient(135deg, #00d084, #005939);
  color: #ffffff;
  transform: translateY(-2px);
  border: 2px solid #00d084;
}

@media (max-width: 768px) {

  .notFoundPage {
    padding: 60px 20px;
  }

  .buttonGroup {
    flex-direction: column;
    align-items: center;
  }

  .primaryButton,
  .secondaryButton {
    width: 100%;
    max-width: 280px;
  }

}
